.statistics {
  width: 400px;
  background-color: #eff3f6;
  padding: 20px;
}

.title {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 10px 0px;
  text-transform: uppercase;
}

.list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  width: 300px;
  margin: 0 auto;
}

.item {
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
